<a href="https://colab.research.google.com/github/bpunar/Data-Science-Clarusway-/blob/main/Statistics_Assignment_2_D1491_Bekir.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Descriptive Statistics

In [ ]:
# D1491-Bekir

 Import **NumPy**, **SciPy**, and **Pandas**

In [ ]:
import numpy as np
import scipy as sp
import pandas as pd

 Randomly generate 1,000 samples from the normal distribution using `np.random.normal()`(mean = 100, standard deviation = 15)

In [ ]:
samples =np.random.normal(100, 15, 1000)
samples

array([109.7010964 , 112.30973197, 109.94559156,  96.96764998,
        96.740637  , 102.66304153, 130.26939536,  90.68501936,
       117.30638294,  80.81743067,  80.46061253, 128.65815588,
        95.59902251,  88.13665318,  70.0100138 , 117.0130571 ,
        96.97312796, 101.01113007,  99.22583338,  96.37478214,
        96.17184056,  91.663618  , 124.23829528,  74.57598849,
       101.63421155, 132.47734808,  92.9803573 ,  99.53667685,
        98.85046245, 106.6872641 , 101.81885424,  91.16816445,
       110.25207871,  95.72935258,  91.99616815, 103.42156314,
       109.01573864,  94.67733545,  98.56569635, 103.76046629,
       112.45701008, 120.60468667,  82.24817945,  90.42776407,
       127.26408216,  89.58342415, 115.00636694, 112.05056049,
       104.16157174,  87.71287503, 113.24224874, 108.58642874,
        96.21555697, 115.05709436, 137.69599183,  67.54311946,
        78.07740025, 110.75312286,  79.49549088, 105.58080175,
        91.77811003, 100.57119889,  96.1906998 , 107.47265366,
        91.09281233, 130.54083492, 111.48476715, 108.75907441,
        87.49924171,  94.53462371,  73.71612934,  62.70956706,
       127.77874922,  92.41436835, 104.44544508, 115.20894095,
        94.94061187,  94.89568465,  82.1847161 ,  87.14602867,
       101.48511759, 103.24103063, 110.53732554,  77.61626034,
        78.35492683, 101.55785367, 103.48560491, 129.2219759 ,
        86.37925387, 106.85774408, 105.97424627, 118.24974721,
        93.19908041, 101.67322242, 110.85126734, 106.2263802 ,
        97.97197896,  80.05259724, 127.41995186, 110.64310317,
       104.01038491,  81.3212013 ,  92.66944866, 108.01722645,
       107.72901897,  78.41026041, 118.55161485,  92.46492998,
        70.02832723, 105.45168929,  61.74352744,  98.66468458,
        90.54799886,  81.40763267,  90.17405999, 109.26917384,
       122.31728453,  83.85253136,  92.03616753,  80.4961383 ,
        86.91261968, 124.55266033,  71.73182113, 123.30603631,
        88.99504988,  85.81240156,  82.19137857, 100.77732626,
        96.20591069,  89.01202303,  76.10796627, 114.13071047,
        89.5563818 , 112.70653455,  90.81738549, 110.62247198,
        77.24609394, 118.21258378,  93.12551847, 106.30828128,
        71.04043031,  89.92029747, 105.13031855, 108.05878153,
       131.1188744 , 109.19563807, 101.33135503,  84.60463205,
       121.47656291, 113.6741415 , 106.25068651, 102.59278916,
        99.85168728, 121.30159848,  87.78714659, 105.67462397,
        88.95567868,  84.64647875, 107.02760257, 115.32820598,
       108.96899357, 110.17957628, 106.14759034, 101.16840938,
       113.27344387, 103.99768177,  82.64356638,  85.05473668,
       107.18709928, 109.87180874,  85.89949669, 109.54732132,
        83.62215805, 102.79049166,  92.85524214,  96.94422603,
        98.60707493, 104.18544644, 119.57070856, 103.36896221,
       122.11360645, 118.79449925, 104.60865046,  99.92517813,
        64.60754879,  97.69795111, 108.48360489, 107.13994668,
        98.81748513,  90.95275011,  97.24804305, 117.33457411,
        88.9587904 , 107.10790314, 108.06951814,  92.53191485,
       121.77425046, 122.84406759,  85.86202495, 108.45529703,
        78.21779352, 106.35448938, 114.92993445,  94.25825028,
       136.577669  , 100.80556471, 106.34697092, 104.80820491,
       110.10139953, 108.33541846, 105.64458964,  89.11139714,
        96.59271457, 111.84598343, 103.36028362, 116.88259998,
        84.78765908, 119.17846591, 111.80626169,  85.68460679,
       106.18006683, 105.24652984, 123.98469767,  97.37915638,
       113.86383615, 102.67057662, 147.6157573 , 103.08751394,
        91.21448184,  83.59035826,  81.28575095, 103.46048198,
        92.13637611, 104.05912832, 115.04022379,  73.3937075 ,
        92.74877752,  96.37714079, 104.43713079, 125.45047077,
        94.93579263,  95.33170599, 116.61105262,  81.21463808,
       107.8222961 , 111.87588697, 101.64572743, 100.76826783,
       109.28580978, 102.30012003,  82.7430428 , 103.83482567,
       103.98761883, 102.52197303,  81.87709221,  92.88055567,
       126.16191584,  75.67858825, 104.39221932, 101.8519647 ,
       103.23310453,  86.32682854,  80.76133817,  93.97151839,
       122.97612888, 103.61407966, 108.31870629,  59.37434637,
       125.31258561, 108.49417031,  92.30374538,  98.49721392,
       125.31486712,  71.68345888,  92.13774472,  77.74872837,
        94.95841561,  90.36265459,  64.83160846,  90.55049927,
        83.92741903, 123.79659192, 103.86972868,  90.51498777,
       134.03982413,  90.98781423, 111.42021837, 109.61414826,
       123.30992857,  94.69207647,  93.1533008 , 115.12046251,
        98.59805295, 112.8094247 ,  87.39744129, 104.20768618,
       100.08620988,  95.29487139,  86.27009737, 105.99510846,
       111.97125532,  91.30133231, 115.57626564, 111.47091198,
        81.38450153, 110.31347163, 105.34134695,  77.55291056,
        98.67709687, 121.52225809,  93.3608683 ,  88.75221386,
        91.82891423, 118.21767368, 109.0999598 , 119.6734743 ,
        93.4380262 ,  88.43171895,  85.74060828,  99.06803337,
       106.90147364, 126.33254399, 114.06122407,  80.13213154,
       100.22359411, 107.62460738,  99.75603517,  74.1019862 ,
        96.05704834, 118.76637853,  86.54780654,  78.14628051,
        95.34669944, 114.03836878, 111.15184676,  91.58132105,
        87.76309784,  97.76401422, 102.99337786, 120.72795282,
        93.23684018,  87.31452889,  72.42269414,  90.08202186,
       100.2035924 , 105.20080041, 100.52650815, 130.62182561,
       121.32023507,  92.66363806, 104.05648872,  94.06537348,
        89.66251229, 110.26317722, 111.48080659,  90.17756251,
       118.91653778,  79.24977129, 111.8686421 , 112.11403126,
       107.82012928,  98.81424984,  93.04616854, 105.18470239,
       132.80788857, 104.29178382,  86.44163959, 107.20932325,
        85.57446906, 103.73481678,  89.85480849, 109.20863956,
       111.44830223, 102.24290561, 106.82731257, 124.20945319,
        91.37417119,  87.41747619,  88.83486306,  98.11848151,
        68.99684556,  90.54101961,  95.11257055, 100.74792115,
        78.56321765,  95.52900896, 102.75162085, 119.2819939 ,
        70.27226926, 113.90607421,  99.92645635, 123.10949656,
        82.56546363, 110.93663771,  82.9937419 ,  67.42963711,
       100.82359678,  91.5198701 , 102.61326881,  91.1098529 ,
       120.32028262, 113.74734834,  80.90335304, 108.79923903,
       101.67302953,  94.87666203, 106.55759302,  89.84366785,
        93.5886298 ,  90.93378665,  84.88082807, 100.01861957,
        96.43234728,  95.04960879, 113.06564665,  64.55345496,
        79.23915157, 112.28695546, 109.55734094,  97.47678509,
       111.27105791,  92.31605293,  89.44934299, 107.22043412,
        72.74218556,  85.21470323, 100.82664711, 113.20756284,
        70.13070167, 106.38731338,  96.83835424, 123.51425287,
        88.90299257, 102.68046259,  95.88012007,  95.11906348,
       109.80289371,  83.08620945, 106.84631341,  92.96623072,
       107.99480829, 110.01103371, 124.06677994,  91.30209302,
       111.5899716 , 129.42519957, 125.9114687 ,  90.39390971,
       123.57141971, 100.97519627, 100.07762715,  94.08663731,
        79.89527588,  88.12672966, 103.07004764,  90.40591131,
        97.15792007,  97.70442398, 102.49508688, 102.36530726,
       102.17503106, 128.17556762, 100.14326529, 120.75529972,
       116.7546285 , 114.62126429,  91.98371561,  97.74457611,
        85.88723267, 109.12515986, 110.68080311, 111.10929224,
        86.85855529, 107.06337393, 122.68449709, 122.12432932,
        77.99675074, 106.98883165,  94.93044753,  75.40757082,
        92.75249164, 123.64556925, 100.40378304, 114.8640279 ,
       107.18866578, 125.66301658, 124.71088365, 109.76534736,
       106.02698063, 113.38321952,  88.49826917,  94.62013613,
        98.43242529, 103.02918031,  93.50471599, 113.16584691,
        92.4913393 ,  87.06602593, 133.30171574,  88.44401147,
       104.82047472,  98.58559849,  74.47505635,  95.28763509,
        81.40123419, 131.16765482, 102.69070028,  74.75373678,
        96.01689307, 106.19825803,  87.00404627,  96.27569611,
       105.37720357,  95.8237891 , 109.53219599,  97.31687092,
       106.37361183, 112.88117668, 105.75132826, 114.77990494,
       109.13523151,  94.38011898,  85.700021  , 111.31750449,
       122.4331555 , 122.60191867, 110.54392767, 112.63548143,
       120.96639206, 116.77803317,  89.26806683,  97.19576712,
        78.17029607, 110.19107591,  96.93474808, 110.05256449,
       104.4050977 ,  89.30981369, 114.86479267,  93.92258441,
       115.46741383, 136.07656686,  97.43046782,  95.51913324,
       126.95817882, 106.7771705 ,  97.20568817, 111.4785724 ,
       122.87021304, 103.11998015, 117.16704968,  99.9010401 ,
        93.79319661,  69.52097984, 117.17279888,  86.5116815 ,
        89.53474435,  92.94762056,  79.54405613,  90.58956307,
        84.84631996,  99.82391816, 103.83057332,  99.99460789,
        81.6935933 ,  93.04884923,  85.82179997,  85.91819663,
        97.191709  ,  74.28938539, 119.07067108,  99.81263794,
       116.18075705, 113.68226843,  85.75852279, 109.4154048 ,
       107.4141147 ,  75.81123992, 111.72327221, 119.9481286 ,
        68.47093037, 107.21848792,  68.7409309 ,  76.50591685,
       131.09234252,  86.46180561,  97.71951357,  98.975863  ,
        87.42726052, 109.90389059, 117.18033548, 102.58983862,
        96.13239486,  72.87088627,  94.11392201,  88.17170821,
        79.95711209, 122.45280365,  88.58177312,  96.8212692 ,
        99.99221494,  96.36828523,  98.3957402 ,  94.32362963,
        86.46819442,  95.10496293, 105.94307608, 109.92289188,
        68.53813143,  72.94796694,  91.66012805, 113.06123393,
       108.44735859, 129.03034366, 113.95449152, 125.38201862,
       118.774804  ,  89.15602484,  93.3094087 ,  79.21066236,
        80.98513048,  97.54814773,  77.09527316, 102.47739481,
       116.68212741, 103.80857008,  84.445097  ,  98.5657289 ,
        85.12071978, 126.27653664,  92.53609429, 118.23630291,
       110.06578435, 114.80067217, 109.90330552, 107.37703732,
       106.33993783, 126.68276052,  89.24321679,  89.20982673,
       113.8438352 , 109.65432175,  58.66102975, 108.49001903,
        99.56398427,  83.49832583,  81.6536864 ,  98.2860962 ,
       115.27602208, 122.68380125,  86.17293097,  93.07581185,
        94.94816692, 107.7643676 , 107.94813483,  82.98342225,
       120.00303938,  86.35228172,  91.28163353,  89.10847757,
       103.42087742,  98.40584401, 102.56631532, 112.40569906,
       110.77719612,  91.63015298,  99.39336779, 109.87939041,
        94.45445441,  91.55247933, 105.77426975,  99.08607062,
        90.33597637, 116.06704029,  88.55160749, 121.98345671,
        95.87279075,  84.45159965, 101.67374531, 119.2989426 ,
        92.48486864, 110.77126922, 125.40359394,  88.9145321 ,
       106.9181148 , 111.84995255, 110.53853065, 113.79619827,
        92.36089372, 100.28940313,  91.11637284, 115.17365532,
       113.91187354, 102.06275409,  83.36374255, 116.41874367,
        76.07533121,  89.71889435,  85.10389465,  95.05852476,
        89.09442346,  85.36261137, 105.13859778, 113.77167012,
       104.56059017, 117.83921241, 122.7614024 , 109.15175793,
        65.31313922,  77.69562467, 100.48004223, 117.61476514,
       100.4438108 , 102.21613196, 114.53028847,  98.85782071,
        82.42561994,  84.20091662,  84.98526592, 118.88951296,
        82.4570592 ,  93.23022537, 132.00788773,  96.08050025,
       111.2455163 , 105.26770255, 105.74705661, 109.5697643 ,
        89.9084746 ,  83.16012452,  93.60115158, 112.20161737,
        59.79881787, 112.40724926, 135.84619796, 103.63794747,
        83.58993565,  87.13403172, 105.65995851, 100.76967828,
       102.70155884, 101.14668865, 112.30317654, 125.05092639,
       101.73084275,  62.7643098 , 119.44043421,  71.95762132,
       105.36298854,  87.67174548, 100.68037715, 110.02609247,
       105.53046138,  94.33860606, 123.74548702,  89.78741606,
       134.32319894, 111.41755253, 101.3232795 , 107.57728666,
       104.35675303,  83.43518654,  92.31669578,  93.07873252,
        79.27610037, 125.08655143,  89.58765477, 101.18630247,
        84.70210336, 113.75832379,  97.23011623, 106.68730167,
       101.3814545 , 101.84465095,  82.66849556, 119.26354938,
       115.13085194,  81.38965983, 104.86569616,  77.84225848,
        96.54682697,  83.00026686,  97.13131131, 105.73355387,
       123.96659571,  89.69855805,  95.0137643 ,  87.44987157,
        96.28603823,  97.83169574,  86.11429275, 108.74634944,
       102.9159964 ,  96.41051455,  92.51920262, 109.0172529 ,
       104.28065274, 104.2831602 ,  94.26832915, 111.16821519,
       111.19956257, 104.04519156,  94.04169253,  89.61944991,
       102.70747505, 106.27891908,  99.76632122, 102.23422894,
       109.68065846, 114.34357323,  93.9298338 ,  91.79945339,
        70.5048185 , 121.56871316, 117.2703737 ,  83.17814136,
        94.85333872, 112.4620962 , 103.85532481,  68.49845823,
        90.36870194, 119.26513987, 100.6027602 , 111.48041668,
       126.2852369 ,  87.61701293,  93.62445707,  81.82330468,
        93.00149533,  89.91580948,  92.92243184, 108.13747067,
       110.8392105 , 121.12240019, 116.89635856, 100.96031053,
        65.71571373, 117.86758624, 105.96780687,  99.24907537,
        89.63885323, 124.60117915, 109.18952044,  90.09075133,
        91.9914371 , 122.56971085, 129.16066259, 111.17736533,
        84.39220932, 101.81781277,  93.672852  , 109.95854178,
       123.41574368,  94.54524938, 107.36004923,  98.81992664,
        86.28724916,  89.60289484, 112.46395889, 113.43384801,
       115.69984258, 111.9900159 ,  90.49751318, 105.29491244,
        97.62539044, 107.57529453, 112.95586996,  75.31610977,
       100.96301338,  66.30435966, 130.299574  , 110.07703894,
       104.98348346, 117.16421236, 115.38328773,  73.29366395,
        86.34297882, 113.7358276 , 124.20711914,  96.85230648,
       113.97135247,  84.78650633,  95.63266209, 117.05403552,
       118.29164164, 110.1752506 ,  86.10169336,  97.09519628,
        89.13846662, 118.79726315, 111.7989876 , 104.01530939,
        85.33833422,  84.46680379,  79.33144648,  96.49022965,
        99.57614106, 113.62110796,  90.73344624,  89.40763399,
       119.35992618,  80.40781799, 108.71676174, 118.77330754,
        81.47521086, 105.11690592, 105.68574593,  95.16304912,
       117.72131123, 102.45334553, 116.95720183, 117.41407038,
       105.42691652, 111.897315  , 101.25266833,  81.4059875 ,
       106.26382867, 112.55427037, 104.38723372,  98.60235351,
       107.85014968,  94.6152618 ,  73.34999938, 101.07914962,
        94.04026793, 126.49725886, 122.16941517,  92.83627743,
        91.88388014, 114.24728568,  87.07240204,  87.55363572,
        81.42546878,  96.51510421, 105.89212746,  76.91303563,
        76.05475841, 133.01992298, 106.88656025,  97.51643156,
        68.40873247, 104.56359232,  76.12360793,  76.59447168,
        81.3792445 , 136.65532308, 100.9192854 ,  73.20630468,
        75.72687564,  67.88213374,  97.43959997, 112.17685454,
       110.63842522,  93.03782417, 124.29755152,  94.47611224,
       112.48076126, 104.00938738, 102.92608553, 104.95587091,
        88.51074925, 121.7998132 ,  82.14125828,  78.26115223,
       105.27554584, 105.6919394 , 101.09667423, 100.42255852,
       112.92678241, 110.03078952,  91.68637995,  98.83287975,
       107.28974365, 106.12853727, 101.54798413, 118.3961582 ,
       107.24627041, 100.72103819, 112.71772685, 106.11990655,
        77.60979521,  95.85727864,  92.37191462, 101.74544168,
       100.64105258,  86.02009494, 106.57869953, 102.96737019,
        80.95192132,  91.57761122,  82.90061585, 106.9870674 ,
        72.23786907, 107.55703789,  99.18715145, 106.63128309,
       117.09983832, 100.47131019, 109.30727559,  77.11329984])

Compute the **mean**, **median**, and **mode**

In [ ]:
mean = np.mean(samples)
print("mean = ", mean)
median = np.median(samples)
print("median = ", median)
from scipy import stats
mode = stats.mode(samples)
print("mode =", mode)

mean =  100.41593686039604
median =  100.93979796291715
mode = ModeResult(mode=array([58.66102975]), count=array([1]))

Compute the **min**, **max**, **Q1**, **Q3**, and **interquartile range**

In [ ]:
min = np.min(samples)
print("Min değeri : ",  min)
max = np.max(samples)
print("max değeri :", max)
q1 = np.quantile(samples, 0.25)
print("Q1 değeri :", q1)
q3 = np.quantile(samples, 0.75)
print("Q3 değeri :" ,q3)
#iqr = q3- q1
iqr=stats.iqr(samples)
print("IQR değeri: ", iqr)

Min değeri :  58.66102975418439
max değeri : 147.61575730343316
Q1 değeri : 90.38760776453677
Q3 değeri : 110.53762681427878
IQR değeri:  20.150019049742014

Compute the **variance** and **standard deviation**

In [ ]:
variance = np.var(samples)
print("Varinace :", variance)
std_dev = np.std(samples)
print("standart sapma değeri : ", std_dev)

Varinace : 215.82496461079427
standart sapma değeri :  14.690982424970572

Compute the **skewness** and **kurtosis**

In [ ]:
import scipy as sp
skewness = sp.stats.skew(samples)
print("Skewness: ", skewness)
kurtosis = sp.stats.kurtosis(samples)
print("Kurtosis: ", kurtosis)

Skewness:  -0.08118566357513606
Kurtosis:  -0.21067564080009626

## NumPy Correlation Calculation

Create an array x of integers between 10 (inclusive) and 20 (exclusive). Use `np.arange()`

In [ ]:
x = np.arange(10,20)
print(x)

[10 11 12 13 14 15 16 17 18 19]

Then use `np.array()` to create a second array y containing 10 arbitrary integers.

In [ ]:
y = np.array([8,11,65,45,89,6,32,14,78,30])
print(y)
print(len(y))

[ 8 11 65 45 89  6 32 14 78 30]
10

Once you have two arrays of the same length, you can compute the **correlation coefficient** between x and y

In [ ]:
r, p =stats.pearsonr(x, y)
print( "Correlation coefficient for x and y : ", r)

Correlation coefficient for x and y :  0.17514721624983384

## Pandas Correlation Calculation

Run the code below

In [ ]:
x = pd.Series(range(10, 20))
y = pd.Series([2, 1, 4, 5, 8, 12, 18, 25, 96, 48])

Call the relevant method  to calculate Pearson's r correlation.

In [ ]:
r, p = stats.pearsonr(x, y)
print("Pearson's r correlation is : ", r)

Pearson's r correlation is :  0.758640289091187

OPTIONAL. Call the relevant method to calculate Spearman's rho correlation.

In [ ]:
rho, pval = stats.spearmanr(x, y)
print("Spearman's rho correlatiın : ", rho)

Spearman's rho correlatiın :  0.9757575757575757

## Seaborn Dataset Tips

Import Seaborn Library

In [ ]:
import seaborn  as sns

Load "tips" dataset from Seaborn

In [ ]:
tips = sns.load_dataset("tips")
tips

     total_bill   tip     sex smoker   day    time  size
0         16.99  1.01  Female     No   Sun  Dinner     2
1         10.34  1.66    Male     No   Sun  Dinner     3
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
239       29.03  5.92    Male     No   Sat  Dinner     3
240       27.18  2.00  Female    Yes   Sat  Dinner     2
241       22.67  2.00    Male    Yes   Sat  Dinner     2
242       17.82  1.75    Male     No   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[244 rows x 7 columns]

Generate descriptive statistics include those that summarize the central tendency, dispersion

In [ ]:
tips.describe()

       total_bill         tip        size
count  244.000000  244.000000  244.000000
mean    19.785943    2.998279    2.569672
std      8.902412    1.383638    0.951100
min      3.070000    1.000000    1.000000
25%     13.347500    2.000000    2.000000
50%     17.795000    2.900000    2.000000
75%     24.127500    3.562500    3.000000
max     50.810000   10.000000    6.000000

Call the relevant method to calculate pairwise Pearson's r correlation of columns

In [ ]:
tips.corr("pearson")

            total_bill       tip      size
total_bill    1.000000  0.675734  0.598315
tip           0.675734  1.000000  0.489299
size          0.598315  0.489299  1.000000