<a href="https://colab.research.google.com/github/bpunar/DATA-SCIENCE-CLARUSWAY-/blob/main/Time_sensitive_interview.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [4]:
sales = pd.read_csv("sales_082020.csv")

In [2]:
rates = pd.read_csv("currency_rates_082020_EUR.csv")

In [ ]:
sales.head()

     buyer_id buyer_country seller_id  ... currency  price        date
0  qzpjsi9t0o            GB  6oufpaot  ...      GBP  19.11  2020-08-03
1  o79pns1qwo            GB  50xki2yg  ...      GBP  15.92  2020-08-09
2  sjgbjdkhqx            GB  50xki2yg  ...      GBP   6.37  2020-08-07
3  o79pns1qwo            GB  s0p322hh  ...      GBP  25.27  2020-08-09
4  o79pns1qwo            GB  dpkx192v  ...      GBP   8.90  2020-08-09

[5 rows x 10 columns]

In [5]:
rates.head()

  currency      date  rate
0      EUR  8/1/2020   1.0
1      EUR  8/2/2020   1.0
2      EUR  8/3/2020   1.0
3      EUR  8/4/2020   1.0
4      EUR  8/5/2020   1.0

In [6]:
sales.date = pd.to_datetime(sales["date"])
sales

          buyer_id buyer_country seller_id  ... currency   price       date
0       qzpjsi9t0o            GB  6oufpaot  ...      GBP   19.11 2020-08-03
1       o79pns1qwo            GB  50xki2yg  ...      GBP   15.92 2020-08-09
2       sjgbjdkhqx            GB  50xki2yg  ...      GBP    6.37 2020-08-07
3       o79pns1qwo            GB  s0p322hh  ...      GBP   25.27 2020-08-09
4       o79pns1qwo            GB  dpkx192v  ...      GBP    8.90 2020-08-09
...            ...           ...       ...  ...      ...     ...        ...
237666  p7ibf7soot            GB  ss7jy9ks  ...      GBP   17.11 2020-08-06
237667  2hg8zirueq            US  bk6apusi  ...      USD   69.00 2020-08-05
237668  k5hmcfxcs6            GB  n2ez0xph  ...      GBP   58.28 2020-08-05
237669  ca8nc8qv1x            GB  j1s4nqxb  ...      GBP    9.46 2020-08-05
237670  z09h7w9zcd            US  0au7baxi  ...      USD  160.76 2020-08-06

[237671 rows x 10 columns]

In [7]:
rates.date = pd.to_datetime(rates["date"])
rates

    currency       date    rate
0        EUR 2020-08-01  1.0000
1        EUR 2020-08-02  1.0000
2        EUR 2020-08-03  1.0000
3        EUR 2020-08-04  1.0000
4        EUR 2020-08-05  1.0000
..       ...        ...     ...
215      BRL 2020-08-06  6.3324
216      BRL 2020-08-07  6.4111
217      BRL 2020-08-08  6.4111
218      BRL 2020-08-09  6.4111
219      BRL 2020-08-10  6.4351

[220 rows x 3 columns]

In [8]:
df = pd.merge(sales, rates, on=["date", "currency"])

In [9]:
df["total"] = df["price"] / df["rate"]
df

          buyer_id buyer_country seller_id  ...       date      rate       total
0       qzpjsi9t0o            GB  6oufpaot  ... 2020-08-03   0.89935   21.248680
1       rd209r8c7c            GB  9p2ansc9  ... 2020-08-03   0.89935   27.697782
2       pqbcrl8azx            GB  r9zmzem8  ... 2020-08-03   0.89935   21.471062
3       j5en1rwmxp            GB  3o2nz88r  ... 2020-08-03   0.89935   18.880302
4       kjdezxeh1l            GB  7g56ublf  ... 2020-08-03   0.89935    3.168955
...            ...           ...       ...  ...        ...       ...         ...
237666  d7dx6f3qv7           RoW  e2p108mu  ... 2020-08-04   4.39693    0.964309
237667  iaf2ck3rj6            IT  gjb1qntq  ... 2020-08-04  26.12360  150.177617
237668  tucgt70cwc            AU  9adnlxvr  ... 2020-08-09   4.41427  119.118223
237669  rrfjxzbdxu            US  w2pozh7u  ... 2020-08-06   6.33240    5.514497
237670  wnmihth4io            GB  5yogzc17  ... 2020-08-08  10.64540   50.074210

[237671 rows x 12 columns]

In [10]:
sales.shape[0] # 1.How many rows in the sales dataset?

237671

In [11]:
sales.shape[1] # 2.How many columns in the sales dataset?

10

In [12]:
sales["seller_id"].value_counts() # 3.What is the total number of sellers?(Just write numbers)

pzsiehl0    703
wd3rgi3q    525
j21w87xy    500
dbm0o9qu    436
hbtm3tdy    316
           ...
b79drc4f      1
ivtfeqcd      1
uvfzdgb4      1
pbrox97s      1
0au7baxi      1
Name: seller_id, Length: 114227, dtype: int64

In [13]:
sales.seller_id.nunique()

114227

In [14]:
len(sales["seller_id"].unique())

114227

In [15]:
(df.price / df.rate).sum() # 4.What is the total value of sales in EUR?

6471510.822498876

In [16]:
sales["brand"].value_counts().head(1) # 5.Which brand has the highest number of purchases?

Nike    9575
Name: brand, dtype: int64

In [17]:
sales[(sales["category"]=="Jewellery") & (sales["brand"].isna())].product_code.nunique() # 6.How many items in the “Jewelry” category have no brand?

10931

In [18]:
((sales.brand.value_counts()<=55) & (sales.brand.value_counts()>=35)).value_counts()[1] # 7.How many brands have number of transactions between 35 and 55 (inclusive)?

81

In [20]:
((sales.brand.value_counts()>34) & (sales.brand.value_counts()<56)).value_counts()

False    1053
True       81
Name: brand, dtype: int64

In [21]:
(sales.brand.value_counts()>34).sum() - (sales.brand.value_counts()>55).sum()

81

In [22]:
sales[(sales["category"]=="Shoes") & (sales["buyer_country"]=="AU")].shape[0] # 8.How many pairs of shoes were purchased by Australian (AU) buyers?(Just write numbers)

658

In [23]:
sales.groupby("brand")["price"].apply(np.mean).sort_values(ascending=False).head(1)  # 9.Which brand has the highest average transaction value? (Just write brand name)

brand
Goyard    339.363333
Name: price, dtype: float64

In [24]:
df.loc[(df["buyer_country"]=="GB") & (df["seller_country"] == "GB")]["total"].sum() # 10.What is the total value of items purchased by GB buyers from GB sellers?

3526745.033129233

In [25]:
df[(df['seller_country']=='US') & (df['buyer_country']=='US')].total.sum() / df[(df['seller_country']=='US')].total.sum() # 11.What percentage of US sellers' transactions were purchased by US buyers?

0.9596922067159569